<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashCards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3>FlashCards</h3>
    {% for card in flashcards %}
        <article class="flashcard">
            <div>{{ card.front | safe }}</div>
            <div>{{ card.back | safe }}</div>
            <p>{{ card.id }}</p>
        </article>
    {% endfor %}
</body>
</html>